DATABASE_URL=

REDIS_URL=

SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

NVIDIA_QWEN_MODEL=
NVIDIA_API_KEY=
NVIDIA_BASE_URL=

TAVILY_API_KEY=
TAVILY_USAGE_URL=
WEATHER_API_URL=
GOOGLE_CLIENT_ID=
CORS_ORIGINS=
