fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
celery
redis
pyjwt
pwdlib[argon2]
python-multipart
pydantic
python-dotenv
deepagents
langchain
langchain-community
langchain-tavily
tavily-python
langchain-openai
alembic
pydantic[email]
flower